.container{
    width: auto;
    height: auto;
}

.logo{
    text-align: center;
    width: auto;
    height: 70px;
}

.text{
    margin: 30px 0px 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: auto;
    height: auto;
    font-size: 30;
}

.downloadButtonDiv{
    margin: 30px 0px 0px 0px;
}

.downloadButton{
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 25px;
    border-radius: 50px;
    background-color: #53C5F9;
    color: white;
    padding: 15px 15px 15px 15px;
}

.downloadButton:hover{
    text-decoration: none;
    opacity: 0.7;
    background-color: #92D7F7;
    color: white;
}

.image{
    margin: 50px 0px 0px 0px;
    text-align: center; 
}

@media only screen and (max-width:720px){

    .text{
        margin: 30px 0px 50px 0px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        width: auto;
        height: auto;
        font-size: 80;
    }

    .downloadButtonDiv{
        margin: 30px 0px 0px 0px;
    }

    .downloadButton{
        width: auto;
        height: auto;
        text-align: center;
        font-size: 25px;
        border-radius: 50px;
        background-color: #53C5F9;
        color: white;
        padding: 15px 15px 15px 15px;
    }

    .image{
        margin: 50px 0px 0px 0px;
        text-align: center;         
    }
}

