.container{
    width: auto;
    height: auto;
}

.text{
    width: auto;
    height: auto;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
}

font{
    font-size: 30;
}

/* Desktop */
.image{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 400;
    height: auto;
}


.downloadButton{          
    background-color: rgb(20, 112, 175);
}

.btn-primary:hover{     
    opacity: 0.7;
    background-color: rgb(72, 131, 171);
}


/* mdeium Tablet */
@media only screen and (max-width:720){
    .downloadButton{
        width: 500px;
        height: auto;
        background-color: turquoise;

    }
    font{
        font-size: 50;
    }

    
}
