.container{
    width: auto;
    height: auto;
}

#logo{
    text-align: center;
    position: relative;
    top: -90px;    
    width: auto;
    height: 70px;  
}

.logoAnimation{
    text-align: center;
    width: auto;
    height: 70px;
    animation-name: scrollImg;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes scrollImg{
    from{
        transform: translateY(0px);
    }
    to{transform: translateY(100px);}
}

#logo.scroll{
    transform: translateY(-100);
}

.headingText{
    margin: 30px 0px 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: auto;
    height: auto;
    font-size: 30;
}

.footerText{
    margin: 30px 0px 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 80%;
    height: auto;
    font-size: 1.5rem;
}

.text{
    margin: 30px 0px 50px 0px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: auto;
    height: auto;
    font-size: 30;
}

.downloadButtonDiv{
    margin: 30px 0px 0px 0px;
}

.downloadButton{
    border: none;
    text-decoration: none;
    border-radius: 50px;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    height: auto;
    text-align: center;
    font-size: 25px;
    background-color:  #53C5F9;
    color: white;
    padding: 15px 15px 15px 15px;
}

.downloadButton:hover{
    text-decoration: none;
    opacity: 0.7;
    background-color: #92D7F7;
    color: white;
}

.image{
    margin: 50px 0px 0px 0px;
    width: 100%;
    height: 100%;
    background-image: url('image/web1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center; 
}

@media only screen and (max-width:1520px){

    #logo{
        text-align: center;
        max-width: 400;
        height: 150;
    }

    .headingText{
        margin: 30px 0px 50px 0px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        width: auto;
        height: auto;
        font-size: 80;
    }

    .text{
        margin: 30px 0px 50px 0px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        width: auto;
        height: auto;
        font-size: 50;
    }

    .downloadButtonDiv{
        margin: 30px 0px 0px 0px;
    }

    .downloadButton{
        width: 650;
        height: auto;
        border: none;
        text-decoration: none;
        border-radius: 50px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        font-size: 50px;
        background-color:  #53C5F9;
        color: white;
        padding: 15px 15px 15px 15px;
    }
    .image{
        width: 100%;
        height: 100%;
        margin: 50px 0px 0px 0px;
        background-image: url('image/web1.jpg');
        background-position: center;
        background-repeat:no-repeat;
        background-size: contain;
        text-align: center;                
    }

    .footerText{
        margin: 30px 0px 50px 0px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        width: auto;
        height: auto;
        font-size: calc(.6vh +  1rem);
    }
    
}

